.product
  img(src=product.thumbnail, alt="Product Image")
  .product-details
    h2 #{product.title}
    p   #{product.description} 
    .price-container
      span Price:
      span #{product.price}
  .add-to-cart-button
    button Add to Cart