.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 20px;
}

.product img {
  width: 300px;
  height: 300px;
}

.product-details {
  text-align: center;
}

.product-details h2 {
  font-size: 24px;
  font-weight: bold;
}

.product-details p {
  font-size: 16px;
}

.price-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.price-container span {
  font-weight: bold;
  margin-right: 10px;
}

.add-to-cart-button {
  margin-top: 20px;
  padding: 0px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}